#aboutContent {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  min-width: 610px;
  max-width: 1140px;
}

  /* Title */
  #aboutTitle {
    text-align: left;
    color:white;
    font-size: 22px;
    font-family: 'Bebas Neue', sans-serif;
  }

  hr{
    margin-bottom: 50px;
  }