<div id="clocksContent">

  <p id="clocksTitle">Your World Clocks &nbsp;| &nbsp; <a id="timeType" onclick="changeTimeType()">Digital</a></p>


  <hr>

  <div class="block">
    <h2 id="blockTitle0">New York</h2>
    <h3 id="blockUtc0">UTC -2</h3>
    <canvas class="clockcanvas0" width="250" height="250"></canvas>
  </div>
  <div class="block">
    <h2 id="blockTitle1">Los Angeles</h2>
    <h3 id="blockUtc1">UTC -1</h3>
    <canvas class="clockcanvas1" width="250" height="250"></canvas>
  </div>
  <div class="block">
    <h2 id="blockTitle2">Chicago</h2>
        <h3 id="blockUtc2">UTC 0</h3>
    <canvas class="clockcanvas2" width="250" height="250"></canvas>
  </div>
  <div class="block">
    <h2 id="blockTitle3">Paris</h2>
        <h3 id="blockUtc3">UTC +1</h3>
    <canvas class="clockcanvas3" width="250" height="250"></canvas>
  </div>
  <div class="block">
    <h2 id="blockTitle4">Berlin</h2>
        <h3 id="blockUtc4">UTC +2</h3>
    <canvas class="clockcanvas4" width="250" height="250"></canvas>
  </div>

</div>