#settingsContent {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
}
  /* Title */
  #settingsTitle {
    text-align: left;
    color:var(--white);
    font-size: 22px;
    font-family: 'Bebas Neue', sans-serif;
  }
  hr{
    margin-bottom: 20px;
  }
  #settingsLeft {
    min-height: 1px;
  }
  #settingsRight {
    min-height: 1px;
  }
    /* Title of settings sections */
    #settingsRightTitle, #settingsLeftTitle{
      font-size: 23px;
      font-family: 'Bebas Neue', sans-serif;
      text-align: center;
      color: var(--white);
    }
    .settingsSmallTitle{
    font-size: 18px;
    font-weight: bold;  
    color: var(--dark-medium);
    }

    /* Table */
    table {
      /* margin: 0 auto; */
      box-shadow: 0px 1px 10px 1px #00000084;
      background-color: var(--dark);
      text-align: center;
      background-color: var(--dark-medium);
      font-size: 18px;
      font-family: 'Source Serif Pro', serif;
      width: 100%;
      margin-top: 25px;
    }
    table, th, td {
      padding: 5px 15px;
      border: 0px solid var(--black);
      border-collapse: collapse;
    }
    td {
      color: var(--dark);
    }
    #tableHeader {
      background-color: var(--dark);
      color: var(--white);
    }

    #settingsRightContent{
      margin: 25px;
    }
  

/* SWITCH */
.label {
  pointer-events: none;
  display: flex;
  align-items: center;
  text-align: center;
}
.switch,
.input:checked + .label .switchLeft,
.input:not(:checked) + .label .switchRight {
  pointer-events: all;
}
.input {
  display: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--highlight);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0px 3px 15px 0px #0000003f;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .label .slider {
  background-color: var(--highlight);
}
input:focus + .label .slider {
  box-shadow: 0 0 1px var(--highlight);
}
input:checked + .label .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.switchLeft, .switchRight {
  margin: 0 .5em;
  font-size: 23px;
  font-family: 'Bebas Neue', sans-serif;
  color: var(--white);
}


/* SEARCH BAR */
/* Style the search field */
#searchbar{
  position: relative;
}
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid var(--dark);
  float: left;
  width: 60%;
  background: var(--light);
  margin-left: 10px;
  font-family: 'Source Serif Pro', serif;
  box-shadow: 0px 3px 15px 0px #0000003f;
}
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: var(--highlight);
  color: var(--white);
  font-size: 17px;
  border: 1px solid var(--dark);
  border-left: none;
  background-image: url('/images/search.png');
	background-repeat: no-repeat;
  background-position-x: 13px;
  background-position-y: 7px;
  background-size: 30px;
  height:43px;
  font-family: 'Source Serif Pro', serif;
  box-shadow: 0px 3px 15px 0px #0000003f;
} 
form.search button:hover {
  float: left;
  width: 20%;
  padding: 10px;
  background: var(--highlight-light);
  color: var(--white);
  font-size: 17px;
  border: 1px solid var(--dark);
  border-left: none;
  background-image: url('/images/search.png');
	background-repeat: no-repeat;
  background-position-x: 13px;
  background-position-y: 7px;
  background-size: 30px;
  height:43px;
  font-family: 'Source Serif Pro', serif;
  box-shadow: 0px 3px 15px 0px #0000003f;
}
/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}


/* SEARCH BAR RESULTS */
#searchResults{
  position: relative;
  width: 87%;
  margin-left: 10.5px;
}
.resultItemList{
  font-family: 'Source Serif Pro', serif;
  font-size: 15px;
  padding-bottom: 1px;
  background-color: var(--dark-medium);
  line-height: 40px;
  padding-left: 10px;
  border-bottom: 1px solid var(--dark);
  color: var(--dark);
}
.resultItemList:hover{
  background-color: var(--highlight);
}
.resultItemList:active{
  background-color: var(--highlight-light);
}
#confirmation{
  color: var(--white);
  font-family: 'Source Serif Pro', serif;
  font-family: 15px;
  line-height: 40px;
  margin-left: 10.5px;
}