<link rel="stylesheet" href="/css/about.css">

<div id="aboutContent">
  <p id="aboutTitle">About</p>
  <hr style="width: 57%; float:left;">


  <div id="about">
    <div id="aboutText">
      <p>
        This website is developed for an assignment for Software Development for the Web.
        I decided to do extra work on this lab, only because I was having so much fun with it.
        The main components of this webpage are:
      </p>

      <p style="padding-left:10px; line-height:27px;">
        &#x21e8;&nbsp; Single Page Application<br>
        &#x21e8;&nbsp; Webserver on Node.js with the help of Express<br>
        &#x21e8;&nbsp; Displaying customized world clocks<br>
        &#x21e8;&nbsp; Retrieving/Updating settings by making server calls<br>
      </p>

      <p>
        For further insights or information about this project view the <a id="gitLink"
          href="https://github.com/szomer/Web_Lab2">Github repository</a>.
      </p>

    </div>

    <div class="earth">
      <div class="earth--shadow"></div>
    </div>
    <div class="moon"></div>
    <div class="stars"></div>

  </div>
</div>

<script src="js/earth.js"></script>